body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    margin: 0;
}

header {
    background-color: rgb(2, 2, 67);
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: gold;
}

section {
    width: 80%;
    margin: 20px auto;
    padding: 10px;
}

section h1, section h2 {
    color: rgb(11, 29, 58);
    margin-bottom: 10px;
}

section p {
    text-align: justify;
    margin-bottom: 15px;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
